# Dependency directories
node_modules/

# Build output
/dist/

# IDE and editor files
/.idea/
/.vscode/
*.iml
*.ipr
*.iws
*.log

# Environment
*.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.history